@import "./styles/tokens.css";
@import "../tokens/primitives.css";
@import "../tokens/typography.css";
@import "../tokens/components.css";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: var(--bs-font-family-sans);
  background-color: var(--hero-bg);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
